USE [master]
GO
/****** Object:  Database [Gasolin]    Script Date: 14-6-2024 16:50:21 ******/
CREATE DATABASE [Gasolin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gasolin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Gasolin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gasolin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Gasolin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gasolin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gasolin]
GO
/****** Object:  Table [dbo].[FuelType]    Script Date: 14-6-2024 16:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_FuelType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 14-6-2024 16:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GivenName] [varchar](50) NULL,
	[FamilyName] [varchar](50) NULL,
	[Birthdate] [datetime] NULL,
	[DriverLicenseDate] [datetime] NULL,
	[OwnedVehicles] [varchar](50) NULL,
	[Refills] [varchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonVehicle]    Script Date: 14-6-2024 16:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonVehicle](
	[PersonId] [int] NULL,
	[VehicleId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refuel]    Script Date: 14-6-2024 16:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refuel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[Liters] [int] NULL,
	[CurrentKm] [int] NULL,
	[AmountEuro] [float] NULL,
	[RefueledVehicle] [int] NULL,
	[PersonThatRefueled] [int] NULL,
 CONSTRAINT [PK_Refuel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 14-6-2024 16:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[LicensePlate] [varchar](50) NULL,
	[Brand] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[ConstructionYear] [int] NULL,
	[PurchaseDate] [datetime] NULL,
	[InitialKm] [int] NULL,
	[SaleDate] [datetime] NULL,
	[Active] [int] NULL,
	[Fuel] [varchar](50) NULL,
	[Owners] [varchar](50) NULL,
	[Refills] [varchar](50) NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 14-6-2024 16:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_VehicleType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Refuel]  WITH CHECK ADD  CONSTRAINT [FK_Refuel_Person] FOREIGN KEY([PersonThatRefueled])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Refuel] CHECK CONSTRAINT [FK_Refuel_Person]
GO
ALTER TABLE [dbo].[Refuel]  WITH CHECK ADD  CONSTRAINT [FK_Refuel_Vehicle] FOREIGN KEY([RefueledVehicle])
REFERENCES [dbo].[Vehicle] ([Id])
GO
ALTER TABLE [dbo].[Refuel] CHECK CONSTRAINT [FK_Refuel_Vehicle]
GO
USE [master]
GO
